<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div id="container">
        <div id="boxContainer">
            <input id="inputEmail" type="email" placeholder="email@example.com" autocomplete="off">
            <button id="sendBtn">Send</button>
        </div>

        <p id="wrongEmail" class="wrongEmail"><i class='bx bx-error-circle active'></i>Ingrese un email válido</p>
    </div>
</body>
</html>